.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  /* Стили для контейнера */
  body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
  }

  /* Стили для анимации */
  #text {
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    font-size: 36px;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }

  /* Анимация печати */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* Анимация мигания каретки */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #494D5F }
  }
